/* GTK NAMED COLORS
   ----------------
   use responsibly! */

/* Sass thinks we're using the colors in the variables as strings and may shoot
warning, it's innocuous and can be defeated by using #{$var}.

These are the colors apps are can override. We define the defaults here and
define variables for them in _colors.scss */

/* Gruvbox Dark Hard Borderless Theme */

/* The main accent color and the matching text value */
@define-color accent_color #266b79;
@define-color accent_bg_color shade(#266b79, 0.5);
@define-color accent_fg_color #f9f5d7;

/* Destructive-action buttons */
@define-color destructive_color #f2594b;
@define-color destructive_bg_color shade(#f2594b, 0.5);
@define-color destructive_fg_color #f9f5d7;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_color #b0b846;
@define-color success_bg_color shade(#b0b846, 0.5);
@define-color success_fg_color #f9f5d7;
@define-color warning_color #f28534;
@define-color warning_bg_color shade(#f28534, 0.5);
@define-color warning_fg_color #f9f5d7;
@define-color error_color #f2594b;
@define-color error_bg_color shade(#f2594b, 0.5);
@define-color error_fg_color #f9f5d7;

/* Window */
@define-color window_bg_color #1d2021;
@define-color window_fg_color #f9f5d7;

/* Views - e.g. text view or tree view */
@define-color view_bg_color #1d2021;
@define-color view_fg_color #f9f5d7;

/* Header bar, search bar, tab bar */
@define-color headerbar_bg_color #1d2021;
@define-color headerbar_fg_color #f9f5d7;
@define-color headerbar_border_color #f9f5d7;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

/* Cards, boxed lists */
@define-color card_bg_color rgba(249, 245, 215, 0.05);
@define-color card_fg_color #f9f5d7;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

/* Popovers */
@define-color popover_bg_color #3c3836;
@define-color popover_fg_color #f9f5d7;

/* Miscellaneous */
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);

window.csd {
  transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 12px;
  outline-color: rgba(220, 215, 186, 0.3);
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
  box-shadow: 0 8px 6px -5px rgba(22, 22, 29, 0.2),
    0 16px 15px 2px rgba(22, 22, 29, 0.14),
    0 6px 18px 5px rgba(22, 22, 29, 0.12), 0 0 0 1px rgba(22, 22, 29, 0.75),
    0 0 36px transparent;
}

window.csd:backdrop {
  box-shadow: 0 2px 3px -1px rgba(22, 22, 29, 0.15),
    0 4px 3px 0 rgba(22, 22, 29, 0.18), 0 1px 6px 0 rgba(22, 22, 29, 0.12),
    0 0 0 1px rgba(22, 22, 29, 0.75), 0 0 36px transparent;
}

window.csd.popup {
  border-radius: 12px;
}

window.csd.dialog.message {
  border-radius: 12px;
}

.solid-csd window.csd {
  margin: 0;
  padding: 2px;
  border-radius: 0;
  background-color: #1f1f28;
  border: 2px solid #c8c093;
}

.solid-csd window.csd:backdrop {
  background-color: #1f1f28;
}

window.csd.maximized,
window.csd.fullscreen,
window.csd.tiled,
window.csd.tiled-top,
window.csd.tiled-right,
window.csd.tiled-bottom,
window.csd.tiled-left {
  border-radius: 0;
  outline-width: 0;
}

windowcontrols {
  border-spacing: 6px;
}

windowcontrols.start:not(.empty):dir(ltr),
windowcontrols.end:not(.empty):dir(rtl) {
  margin-left: 12px;
  margin-right: 3px;
}

windowcontrols.start:not(.empty):dir(rtl),
windowcontrols.end:not(.empty):dir(ltr) {
  margin-left: 12px;
  margin-right: 3px;
}

windowcontrols button:not(.suggested-action):not(.destructive-action) {
  min-height: 12px;
  min-width: 12px;
  padding: 0;
  margin: 0 2px;
  border-radius: 9999px;
}

button.titlebutton.minimize,
button.titlebutton.maximize,
button.titlebutton.close,
windowcontrols button.minimize image,
windowcontrols button.maximize image,
windowcontrols button.close image {
  padding: 0;
  color: transparent;
}

button.titlebutton.close,
button.titlebutton.close:hover:backdrop,
windowcontrols > button.close,
windowcontrols > button.close:hover:backdrop {
  background-color: #f2594b;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  background-color: shade(#f2594b, 0.5);
}

button.titlebutton.maximize,
button.titlebutton.maximize:hover:backdrop,
windowcontrols > button.maximize,
windowcontrols > button.maximize:hover:backdrop {
  background-color: #b0b846;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  background-color: shade(#b0b846, 0.5);
}

button.titlebutton.minimize,
button.titlebutton.minimize:hover:backdrop,
windowcontrols > button.minimize,
windowcontrols > button.minimize:hover:backdrop {
  background-color: #e9b143;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  background-color: shade(#e9b143, 0.5);
}

button.titlebutton.close:backdrop,
button.titlebutton.maximize:backdrop,
button.titlebutton.minimize:backdrop,
windowcontrols > button.close:backdrop,
windowcontrols > button.maximize:backdrop,
windowcontrols > button.minimize:backdrop {
  background-color: #504945;
}

gridview > child:selected,
modelbutton.flat:selected,
row:selected,
calendar:selected,
calendar > grid > label.day-number:selected {
  background-color: alpha(currentColor, 0.06);
}

.view:selected,
iconview:selected,
flowbox > flowboxchild:selected,
calendar > grid > label.today,
filechooser stack.view scrolledwindow treeview.view:selected,
stacksidebar row:selected,
.navigation-sidebar > row:selected {
  color: #e9b143;
  font-weight: 500;
  background-color: rgba(224, 224, 224, 0.2);
}

textview text selection:focus,
textview text selection,
label > selection,
entry > text > selection,
calendar > grid > label.today:selected {
  color: rgba(22, 22, 29, 0.87);
  background-color: #c8c093;
}

list.frame {
  border-radius: 12px;
}

.monospace {
  font-family: monospace;
}

headerbar,
separator {
  box-shadow: none;
}

window contents leaflet separator.sidebar,
headerbar.vertical {
  color: rgba(224, 222, 244, 0.1);
  box-shadow: 1px 1px rgba(224, 222, 244, 0.1);
}

popover.menu box.inline-buttons {
  padding: 0 6px;
}

popover.menu box.inline-buttons button.image-button.model {
  min-height: 28px;
  min-width: 28px;
  padding: 0;
  border: none;
  outline: none;
  transition: none;
}

popover.menu box.inline-buttons button.image-button.model:selected {
  background: image(alpha(currentColor, 0.06));
}

popover.menu box.circular-buttons {
  padding: 6px;
}

popover.menu box.circular-buttons button.circular.image-button.model {
  padding: 6px;
}

popover.menu box.circular-buttons button.circular.image-button.model:focus {
  background-color: alpha(currentColor, 0.06);
}

popover.menu.background separator {
  margin: 6px 0;
}

popover.menu arrow.left,
popover.menu radio.left,
popover.menu check.left {
  margin-left: 0;
  margin-right: 0;
}

popover.menu arrow.right,
popover.menu radio.right,
popover.menu check.right {
  margin-left: 0;
  margin-right: 0;
}

popover.menu modelbutton {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-height: 22px;
  min-width: 56px;
  padding: 3px 9px;
  color: #f9f5d7;
  font: initial;
  text-shadow: none;
  box-shadow: none;
  background: none;
}

popover.menu modelbutton:hover {
  transition: none;
  background-color: #eee0b7;
  color: rgba(0, 0, 0, 0.87);
}

popover.menu modelbutton:disabled {
  color: rgba(249, 245, 215, 0.5);
}

popover.menu label.title {
  font-weight: bold;
  padding: 4px 26px;
}

popover.background {
  font: initial;
}

popover.background,
popover.background:backdrop {
  background-color: transparent;
}

popover.background>arrow,
popover.background>contents {
  transition: box-shadow 75ms cubic-bezier(0, 0, 0.2, 1);
  padding: 6px;
  background-color: #3c3836;
  border-radius: 12px;
  border: 1px solid rgba(249, 245, 215, 0.2);
  background-clip: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75), 0 2px 3px -1px rgba(0, 0, 0, 0.05),
    0 4px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}

popover.background > arrow:backdrop,
popover.background > contents:backdrop {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.05),
    0 2px 3px -1px rgba(0, 0, 0, 0.06), 0 1px 4px 0 rgba(0, 0, 0, 0.05),
    0 0 0 1px rgba(0, 0, 0, 0.75);
}

popover.background>contents>list,
popover.background>contents>.view,
popover.background>contents>toolbar {
  border-style: none;
  box-shadow: none;
  background-color: transparent;
}

popover.background>contents separator {
  background-color: rgba(249, 245, 215, 0.12);
  margin: 3px 0;
}

popover.background>contents list separator {
  margin: 0;
}

popover.background .view:not(:selected),
popover.background toolbar {
  background-color: #3c3836;
}

popover.background .linked>button:not(.radio) {
  background-color: transparent;
  box-shadow: none;
  border-radius: 6px;
}

popover.background .linked>button:not(.radio):first-child {
  border-radius: 6px;
}

popover.background .linked>button:not(.radio):last-child {
  border-radius: 6px;
}

popover.background .linked>button:not(.radio):only-child {
  border-radius: 6px;
}

popover.background.menu button,
popover.background button.model {
  min-height: 32px;
  padding: 0 8px;
  border-radius: 6px;
}

.osd popover.background,
popover.background.touch-selection,
popover.background.magnifier {
  background-color: transparent;
}

magnifier {
  background-color: #1d2021;
}

switch {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 12px 0;
  padding: 0;
  border: 2px solid rgba(220, 215, 186, 0.7);
  border-radius: 9999px;
  background-color: transparent;
  background-clip: border-box;
  font-size: 0;
  color: transparent;
}

switch:checked {
  background-color: #c8c093;
  border-color: #c8c093;
}

switch:disabled {
  opacity: 0.5;
}

switch image {
  margin: -8px;
}

switch > slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 16px;
  min-height: 16px;
  margin: 2px;
  border-radius: 9999px;
  outline: none;
  box-shadow: none;
  background-color: rgba(220, 215, 186, 0.7);
  border: none;
}

switch:focus > slider {
  box-shadow: 0 0 0 10px rgba(220, 215, 186, 0.04);
}

switch:hover > slider {
  box-shadow: 0 0 0 10px rgba(220, 215, 186, 0.12);
}

switch:focus:hover > slider {
  box-shadow: 0 0 0 10px rgba(220, 215, 186, 0.12);
}

switch:checked > slider {
  background-color: #1f1f28;
  color: #1f1f28;
}
