*-temp.scss
themes/src/main/gtk-3.0/gtk.css
themes/src/main/gtk-3.0/gtk-Light.css
themes/src/main/gtk-3.0/gtk-Dark.css
themes/src/main/gtk-4.0/gtk.css
themes/src/main/gtk-4.0/gtk-Light.css
themes/src/main/gtk-4.0/gtk-Dark.css
themes/src/main/gnome-shell/gnome-shell.css
themes/src/main/gnome-shell/gnome-shell-Light.css
themes/src/main/gnome-shell/gnome-shell-Dark.css
themes/src/main/cinnamon/cinnamon.css
themes/src/main/cinnamon/cinnamon-Light.css
themes/src/main/cinnamon/cinnamon-Dark.css
