/* Modal Dialogs */

%theme_dialogs {
	background-color: $popover;
	border-radius: $modal_radius;
	border: none;
	box-shadow: inset 0 0.5px highlight($popover);

	@if $float == 'false' {
		border: 1px solid $window-border;
		box-shadow: inset 0 0 0 1px highlight($popover);
	} @else {
		border: 2px solid $primary;
	}
}

%last_dialog_button {
	background-color: $primary;
	color: if($variant == 'dark', $black, $white);

	&:hover {
		background-color: lighten($primary, 9%);
		color: if($variant == 'dark', $black, $white);
	}

	&:active {
		background-color: darken($primary, 5%);
		color: if($variant == 'dark', $black, $white);
	}

	&:insensitive {
		background-color: rgba($primary, 0.05);
		color: rgba($primary, 0.35);
	}
}

.headline {
	@include fontsize($font_size + 1);
}

// modal dialog
.modal-dialog {
	color: $text-secondary;
	padding: $base_padding * 2;
	margin: 0;
	@extend %theme_dialogs;

	&-button,
	&-linked-button {
		min-height: $item_size !important;
		padding: $base_padding !important;
		margin: 0 !important;
		border: none !important;
		border-radius: $base_radius;
		@extend %flat_button;

		&:first-child {
			background-color: $fill;
			&:focus {
				@include button(flat-focus);
			}
			&:hover {
				@include button(flat-hover);
			}
			&:active {
				@include button(flat-active);
			}
		}

		&:last-child {
			@extend %last_dialog_button;
		}
	}

	.modal-dialog-button-box {
		padding-top: $base_padding;
	}

	.modal-dialog-content-box {
		margin: $base_padding;
		spacing: $base_padding;
		max-width: 28em;
	}
}

// End Session Dialog
.end-session-dialog {
	width: if($compact == 'true', 24em, 26em);
	// border: none;

	.end-session-dialog-battery-warning,
	.dialog-list-title {
		color: $warning;
		background-color: transparentize($warning, 0.9);
		padding: $base_padding * 1.5;
		border-radius: $base_radius;
		margin: $base_margin 0;
	}
}

// Message Dialog
.message-dialog-content {
	spacing: $base_padding * 3;

	.message-dialog-title {
		text-align: center;
		@extend %title_2;

		&.lightweight {
			@extend %title_4;
		}
	}

	.message-dialog-description {
		text-align: center;
	}
}

// Dialog List
.dialog-list {
	spacing: $base_spacing * 3;

	.dialog-list-title {
		@extend %heading;
		text-align: center;
	}

	.dialog-list-scrollview {
		max-height: 200px;
	}
	.dialog-list-box {
		spacing: 1em;

		.dialog-list-item {
			spacing: 1em;

			.dialog-list-item-title {
				font-weight: bold;
			}
			.dialog-list-item-description {
				color: $text-secondary;
				@extend %caption;
			}
		}
	}
}

// Run Dialog
.run-dialog {
	width: if($compact == 'true', 24em, 26em);

	// run dialog needs to override bottom padding
	// to account for inexplicable extra padding
	padding-bottom: $base_padding;

	.run-dialog-entry {
		padding: $base_padding * 2 $base_padding * 1.5;
	}

	.run-dialog-description {
		text-align: center;
		color: $text-secondary;
		@extend %caption;
	}
}

// Password or Authentication Dialog
.prompt-dialog {
	//this is the width of the entire modal popup
	width: if($compact == 'true', 26em, 28em);
	// border: none;

	.prompt-dialog-password-grid {
		spacing-rows: $base_margin * 2;
		spacing-columns: $base_margin;

		.prompt-dialog-password-entry {
			width: auto;
			// 4px (spacing) + 16px (spinner-width)
			&:ltr {
				margin-left: $base_margin + $base_icon_size;
			}
			&:rtl {
				margin-right: $base_margin + $base_icon_size;
			}
		}
	}

	.prompt-dialog-password-layout {
		spacing: $base_margin * 2;
	}

	.prompt-dialog-password-entry {
		width: 20em;
		padding: $base_padding * 2 $base_padding * 1.5;
	}

	.prompt-dialog-error-label,
	.prompt-dialog-info-label,
	.prompt-dialog-null-label {
		@extend %caption;
		text-align: center;
	}

	.prompt-dialog-error-label {
		color: $warning;
	}
}

// Polkit Dialog
.polkit-dialog-user-layout {
	text-align: center;
	spacing: $base_margin * 2;
	margin-bottom: $base_padding;

	.polkit-dialog-user-label,
	.polkit-dialog-user-root-label {
		@extend %title_4;
	}

	.polkit-dialog-user-root-label {
		color: $warning;
	}
}

// Audio selection dialog
.audio-device-selection-dialog {
	min-width: 24em;

	.audio-selection-box {
		spacing: $base_padding * 2;

		// styled similar to switcher-popup
		.audio-selection-device {
			border: 1px solid $border;
			border-radius: $base_radius;
			&:hover,
			&:focus {
				background-color: overlay($popover, hover);
			}
			&:active {
				background-color: $primary;
				color: on($primary);
			}

			.audio-selection-device-box {
				padding: $base_padding * 2;
				spacing: $base_padding * 2;
			}

			.audio-selection-device-icon {
				icon-size: $base_icon_size * 4;
			}
		}
	}
}

// Welcome dialog
.welcome-dialog-image {
	background-image: url('resource:///org/gnome/shell/theme/gnome-shell-start.svg');
	background-size: contain;
	height: 300px;
	width: 300px;
}

/* Access portal dialog */
.access-dialog {
	text-align: center;
}

// specific label style for restart message
.restart-message {
	@extend %title_4;
}
