/* Message List */
// a.k.a. notifications in the menu

.message-list {
	width: if($compact == 'true', 25.5em, 29em);
	text-shadow: none;
	border: solid $border;
	padding: 0;

	// padding and margins to account for scrollbar
	&:ltr {
		margin-left: 2px;
		margin-right: $base_margin * 2;
		padding-right: $base_padding + $base_margin;
		border-right-width: 0;
	}
	&:rtl {
		margin-right: 0;
		margin-left: $base_margin * 2;
		padding-left: $base_padding + $base_margin;
		border-left-width: 0;
	}

	.message-list-placeholder {
		@extend %title_3;
		spacing: $base_spacing * 2;
		color: $text-secondary-disabled;

		// icon size and color
		> StIcon {
			icon-size: 96px; // 48px
			margin-bottom: $base_margin * 3;
			-st-icon-style: symbolic;
		}
	}
}

.message-view {
	// to account for scrollbar
	&:ltr {
		margin-right: 10px;
	}
	&:rtl {
		margin-left: 0;
	}

	-st-vfade-offset: 24px;

	.message {
		margin-bottom: $base_padding * 2 !important;
	}
}

// do-not-disturb + clear button
.message-list-controls {
	margin: ($base_margin * 2) ($base_margin * 4) 0;
	// NOTE: remove the padding if notification_bubble could remove margin for drop shadow
	padding: $base_padding;
	spacing: $base_padding;
	@extend %heading;

	.dnd-button {
		// We need this because the focus outline isn't inset like for the buttons
		// so the dnd button would grow when it gets focus if we didn't change only
		// its color when focusing.
		border-width: 2px;
		border-color: transparent;
		border-radius: 32px;
		border-style: solid;

		&:focus {
			border-color: transparentize($primary, 0.4);
		}
	}
}

// message notification group
.message-notification-group {
	spacing: $base_padding * 2;

	.message-group-header {
		padding: $base_padding;
		.message-group-title {
			@extend %title_2;
			margin: 0 $base_margin;
		}
	}

	// close button
	.message-collapse-button {
		@extend .icon-button;
		color: $text;
		background-color: transparentize($text, 0.8);
		padding: 4px !important;
		border: 4px transparent solid;
		&:hover {
			background-color: transparentize($text, 0.7);
		}
		&:active {
			background-color: transparentize($text, 0.8);
		}
	}
}

// message bubbles
.message {
	margin: 0 2px;
	padding: $base_padding;
	border-radius: $window_radius;

	.popup-menu & {
		border-radius: $base_radius;
		padding: $base_padding;
		margin: $base_margin;
		color: $text-disabled;
		background-color: lighten($background, 4%);
		box-shadow: 0 2px 2px 0 rgba(black, 0.04);
		border: 1px solid rgba($divider, 0.04);
		// bit of a hack here with border since we can't have double box-shadow

		&:hover,
		&:focus {
			color: rgba($primary, 0.5);
			background-color: lighten($background, 5%);
			box-shadow: 0 2px 2px rgba(black, 0.05) !important;
			border: 1px solid rgba($divider, 0.06);
		}

		&:active {
			color: $text;
			background-color: lighten($background, 4%);
			box-shadow: none !important;
		}

		&:insensitive {
			color: $text-disabled;
			background-color: lighten($background, 4%);
			box-shadow: none !important;
		}
	}

	&:second-in-stack {
		background-color: lighten($background, 4%);
		box-shadow: 0 2px 2px 0 rgba(black, 0.04);
		border: 1px solid rgba($divider, 0.03);
	}

	&:lower-in-stack {
		background-color: lighten($background, 4%);
		box-shadow: none;
		border-color: if(
			$variant == 'light',
			darken($primary, 10%),
			transparent
		); // a not ideal workaround for light theme
	}

	// message header
	.message-header {
		padding: 0 $scaled_padding;
		spacing: $base_padding;
		color: $text-disabled;

		// header source icon
		.message-source-icon {
			icon-size: $scalable_icon_size; // 16px
			-st-icon-style: symbolic;
		}

		// box that contains the source icon, source name and timestamp of the message
		.message-header-content {
			spacing: $base_padding;
			min-height: to_em(24px);
			padding-bottom: $base_padding;

			// header source title
			.message-source-title {
				font-weight: bold;
			}

			// Time label
			.event-time {
				@extend %caption;
				// Add bottom padding to align the app name with the time horizontally
				padding-bottom: to_em(1px);
				color: $text-disabled;

				&:ltr {
					text-align: right;
				}
				&:rtl {
					text-align: left;
				}
			}
		}

		// buttons in the message header
		.message-expand-button,
		.message-close-button {
			@extend .icon-button;
			color: $text;
			background-color: $fill;
			padding: 4px;
			border: none;

			&,
			&:hover {
				color: $text;
			}

			&:hover,
			&:focus {
				background-color: $divider;
			}
			&:active,
			&:active:hover {
				background-color: $primary;
				color: on($primary);
			}
			&:insensitive {
				background-color: $fill;
			}
		}
		// increase padding to expand button to make it larger
		.message-expand-button {
			padding: $base_padding;
			border: none;
		}

		// add margin to close button to balance it with the expand button
		.message-close-button {
			margin-left: $base_padding * 0.5;
			padding: 4px;
		}
	}

	// container for message contents
	.message-box {
		padding: $base_padding;
		margin: $base_padding;
		margin-top: 0;
		spacing: $base_padding;

		// icon of the message
		.message-icon {
			&:ltr {
				margin-right: $base_padding;
			}
			&:rtl {
				margin-left: $base_padding;
			}

			// icon size and color
			icon-size: $base_icon_size * 3; // 48px
			-st-icon-style: symbolic;

			&.message-themed-icon {
				border-radius: $circular_radius; // is circular
				icon-size: $base_icon_size;
				min-width: $base_icon_size * 3;
				min-height: $base_icon_size * 3;
				color: $text-disabled;
				background-color: $divider;
			}
		}

		// If the header isn't displayed we need more top margin
		&:first-child {
			margin-top: $base_padding * 2;
		}

		// text of the message
		.message-content {
			spacing: $base_margin;

			// message title
			.message-title {
				font-weight: bold;
			}
		}
	}
}

// URLs in messages
.url-highlighter {
	link-color: $link;
}

.message-media-control {
	margin: 4px $base_padding;
	padding: $base_padding * 2;
	border-radius: $circular_radius;
	border: none;
	color: $text-secondary;

	&:hover,
	&:focus {
		background-color: $divider;
	}
	&:active {
		background-color: $track;
	}

	&:hover,
	&:focus,
	&:active {
		color: $text;
	}

	&:insensitive {
		color: $text-disabled;
	}

	StIcon {
		icon-size: $base_icon_size;
	}
}

.media-message {
	// album-art
	.message-icon {
		border-radius: $base_radius / 2 !important;

		&.message-themed-icon {
			icon-size: $large_icon_size !important; // 32px
		}
	}
}
