/* Notifications & Message Tray */

$notification_banner_height: 64px;
$notification_banner_width: 34em;

// Banner notifications
.notification-banner {
	min-height: $notification_banner_height;
	width: $notification_banner_width;
	padding: 0;
	margin: 12px 8px 8px;
	color: $text-secondary;
	background-color: $menu;
	text-shadow: none;
	border-radius: $modal_radius;
	border: none;

	@if $float == 'false' {
		border: 1px solid $window-border;
		box-shadow: inset 0 0 0 1px highlight($popover);
	} @else {
		border: 2px solid $primary;
	}

	&:hover,
	&:active,
	&:focus {
    color: $primary;
		background-color: lighten($menu, 5%);
		border: 1px solid $window-border;
		box-shadow: inset 0 0 0 1px highlight($popover);
	}
}

.notification-buttons-bin {
	spacing: 0;
}

.notification-button {
	min-height: $base_padding;
	padding: $base_padding * 2 0;
	margin: 0;
	background-color: transparent;
	color: $text-secondary;
	font-weight: 500;
	border: none;
	border-radius: $base_radius;

	&:focus {
		background-color: transparent;
		color: $text;
		box-shadow: inset 0 0 0 2px $divider;
	}

	&:hover,
	&:focus:hover {
		background-color: $divider;
		color: $text;
		box-shadow: none;
	}

	&:active {
		background-color: $track;
		color: $text;
	}
}
