// Gruvbox Soft Theme Color Palette

// Red
$red-light: #c14a4a;
$red-dark: #ea6962;

// Pink
$pink-light: #b16286;
$pink-dark: #d3869b;

// Purple
$purple-light: #ab62b1;
$purple-dark: #d386cd;

// Blue
$blue-light: #45707a;
$blue-dark: #7daea3;

// Teal
$teal-light: #4c7a5d;
$teal-dark: #89b482;

// Green
$green-light: #6c782e;
$green-dark: #a9b665;

// Yellow
$yellow-light: #b47109;
$yellow-dark: #d8a657;

// Orange
$orange-light: #c35e0a;
$orange-dark: #e78a4e;

// Grey
$grey-050: #f9f5d7;
$grey-100: #fbf1c7;
$grey-150: #ebdbb2;
$grey-200: #d5c4a1;
$grey-250: #ccbeb8;
$grey-300: #bdae93;
$grey-350: #a89984;
$grey-400: #928374;
$grey-450: #868686;
$grey-500: #7c6f64;
$grey-550: #665c54;
$grey-600: #504945;
$grey-650: #3c3836;
$grey-700: #282524;
$grey-750: #242220;
$grey-800: #211f1e;
$grey-850: #141617;
$grey-900: #0f0e0e;
$grey-950: #0d0907;

// White
$white: #fbf1c7;

// Black
$black: #32302f;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;

// Button
$button-close: if($topbar == 'light', #c14a4a, #ea6962);
$button-max: if($topbar == 'light', #6c782e, #a9b665);
$button-min: if($topbar == 'light', #c35e0a, #e78a4e);
